{
  "branches": [
    "main",
    { "name": "beta", "prerelease": true }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          { "type": "feat", "scope": "!(node|pool|stack)", "release": false },
          { "type": "fix", "scope": "!(node|pool|stack)", "release": false },
          { "type": "perf", "scope": "!(node|pool|stack)", "release": false },
          { "revert": true, "scope": "!(node|pool|stack)", "release": false },
          { "breaking": true, "release": "major" },
          { "type": "feat", "scope": "(node|pool|stack)", "release": "minor" },
          { "type": "fix", "scope": "(node|pool|stack)", "release": "patch" },
          { "type": "perf", "scope": "(node|pool|stack)", "release": "patch" }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/github",
      {
        "addReleases": "bottom"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./scripts/update-versions.sh ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json",
          "README.md",
          ".mise.toml",
          "charts/bitcoin-stack/Chart.yaml",
          "charts/bitcoin-node/Chart.yaml",
          "charts/mining-pool/Chart.yaml"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}